<h1>Enter a new toy</h1>

<div class="contact-form">
  <%= form_with model: @toy do |f| %>
  <div>
    <%= f.label :name %>:<br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>:<br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :date_posted %>: <br>
    <%= f.date_field :date_posted %>
  </div>

  
  
  <div>
    <%= f.label :manufacturer_id %>: <br>
    <%= f.select :manufacturer_id,
    options_for_select( Manufacturer.all.collect { |u| [u.name, u.id] }, :selected => @toy.manufacturer_id ) %>
  </div>

  

  <div>
  <%= f.label :picture %>
  <%= f.file_field :picture, accept: 'image/png,image/gif,image/jpg,image/jpeg' %>
  </div>


  
    <%= f.submit 'Save' %>
  <% end %>
</div>

<br>
<%=  link_to 'Listing Toys', toys_index_path %>
<%= link_to 'Home', root_path %>