<p>
  <%= image_tag @toy.picture if @toy.picture.attached? %>


  <strong>Name:</strong>
  <%= @toy.name %>
  <br>
  <strong>Description:</strong>
  <%= @toy.description %>
  <br>
  <strong>Date posted:</strong>
  <%= @toy.date_posted %>
  <br>
  <strong>User:</strong>
  <%= @toy.user.email %>

 
</p>

<%=  link_to 'Listing Toys', toys_path %>
<%= link_to 'Home', root_path %>
